<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>매칭 서비스</title>
</head>
<body>
    <h1>매칭 서비스</h1>
    <form action="{% url 'start_matching' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location", value="학관">
        <button type="submit">학관 매칭 시작</button>
    </form>
    <form action="{% url 'start_matching' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location", value="명진당">
        <button type="submit">명진당 매칭 시작</button>
    </form>
    <form action="{% url 'start_matching' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="location", value="교직원">
        <button type="submit">교직원 매칭 시작</button>
    </form>
    <form action="{% url 'cancel_matching' %}" method="POST">
        {% csrf_token %}
        <button type="submit">매칭 취소</button>
    </form>
    <div id="message"></div>
</body>
</html>